#center {
    text-align: center;
    margin: auto;
    margin-left: 30vw;
    margin-right: 30vw;
    padding-bottom: 2vw;

    background-color:cornflowerblue;
}

button {
    color: black;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    background-color: aliceblue;
    color: black;

}